<!DOCTYPE html lang="en">
   <head>
		<meta charset="UTF-8">
		<title>Gallery Manager</title>
		<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
   </head>
   
   <body>
		<div id="folder-select-page" class="container">
			<div class="row h-100">
				<div class="col-sm-12 my-auto">
					<div class="input-group mb-3" style="padding-left:20%; padding-right:20%">
						<input value="C:\Users\NickSym\Desktop\TestingFolder" id="folder-select-input" type="text" class="form-control" placeholder="folder path" autofocus>
						<div id="select-folder-button" class="input-group-append">
							<span class="input-group-text" id="folder-select-button">Select Folder</span>
						</div>
					</div>
				</div>
			</div>
			<input id="folder-select" style="display:none" type="file" webkitdirectory directory multiple/>
		</div>

		<div id="galleryPage">
			<div v-if="fileName != null" style="display:flex; height:100%">
				<div class="col-sm-10" style="padding:20px">
					<img v-if="imageFormats.includes(fileFormat.toUpperCase())" class="img-responsive pic" v-bind:src="folderPrefix + folderHome + folderPath + fileName + fileFormat" alt="Displayed File">
					<video id="displayedVideo" v-else-if="videoFormats.includes(fileFormat.toUpperCase())" class="col-sm-12" v-bind:src="folderPrefix + folderHome + folderPath + fileName + fileFormat" controls></video>
					<img v-if="audioFormats.includes(fileFormat.toUpperCase())" class="col-sm-12 img-responsive pic" src="./icons/song_icon.png" style="height:80%; padding: 5% 0 10% 0" alt="Displayed Audio Icon">
					<p v-if="audioFormats.includes(fileFormat.toUpperCase())" style="all:none; color:#FFBA85">{{fileName}}</p>
					<audio id="displayedAudio" v-if="audioFormats.includes(fileFormat.toUpperCase())" class="col-sm-12" v-bind:src="folderPrefix + folderHome + folderPath + fileName + fileFormat" controls></audio>
				</div>
				<div class="col-sm-2" style="text-align:left; padding:0; background-color:#F5F5F5; border-left:2px solid #000000">
					<p class="category">ACTIONS</p>
					<div class="clearfix" style="padding:10px 10px 0 10px">
						<div class="input-group">
							<div class="input-group-prepend">
								<span style="font-size:8px; padding:0 5px" class="input-group-text">{{folderHome}}</span>
							</div>
							
							<input v-model="fileNewPath" :value="fileNewPath" style="font-size:10px; padding:5px" type="text" class="form-control" placeholder="folder path">
							
							<div class="input-group-append">
								<button :disabled="folderPath == fileNewPath" @click="moveFile" class="btn" style="font-size:8px; padding:7px 10px">Move</button>
							</div>

							<div class="input-group-append dropdown" @mouseleave="exitFoldersDropdown" @mouseover="enterFoldersDropdown">
								<button class="btn dropbtn" style="font-size:8px; padding:5px">
									<img style="height:8px; cursor:pointer" src="./icons/arrow_down.svg" alt="Arrow Down Icon">
								</button>
								<div class="dropdown-content" v-show="showFoldersDropdown" @mouseleave="exitFoldersDropdown">
									<a v-for="folder in activeFolders" @click="moveToDropdownFolder(folder.folderPath)">{{folder.folderPath == "" ? "*Home Folder*":folder.folderPath}}</a>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix" style="padding:10px 10px 0 10px">
						<button :disabled="lastMovementPath == null || lastMovementPath == folderPath" @click="moveFileToLastPath" class="btn" style="width:100%; font-size:8px; padding:7px 10px">Move to same folder as last movement</button>
					</div>

					<div class="clearfix" style="padding:10px 10px 0 10px">
						<div class="input-group">
							<input id="fileName" v-model="fileNewName" :value="fileNewName" style="font-size:10px; padding:5px" type="text" class="form-control" placeholder="file name">
							
							<div class="input-group-append">
								<span style="font-size:8px; padding:0 5px" class="input-group-text">{{fileFormat}}</span>
							</div>
							
							<div class="input-group-append">
								<button :disabled="fileName == fileNewName" @click="renameFile" type="button" class="btn" style="font-size:8px; padding:7px 10px">Rename</button>
							</div>
						</div>
					</div>

					<div class="clearfix" style="padding:10px 10px 0 10px">
						<div class="clearfix col-xs-3" style="float:left; padding:0">
							<button :disabled="fileIndex == 0" @click="previousFile" type="button" class="btn" style="font-size:8px; padding:7px 10px">
								<img style="height:8px; padding-right:5px" src="./icons/arrow_left.svg" alt="Arrow Left Icon"> Prev file
							</button>
						</div>

						<div class="clearfix col-xs-3" style="float:right; padding:0">
							<button :disabled="fileIndex == gallery[folderIndex].pics.length - 1" @click="nextFile" type="button" class="btn" style="font-size:8px; padding:7px 10px">
								Next file <img style="height:8px; padding-left:5px" src="./icons/arrow_right.svg" alt="Arrow Right Icon">
							</button>
						</div>
					</div>

					<div class="clearfix" style="padding:10px">
						<button @click="deleteFile" type="button" class="btn" style="text-align:center; width:100%; font-size:8px; padding:7px 10px"><img style="height:15px; padding-right:5px" src="./icons/trash.svg" alt="Trash icon"> Delete file</button>
					</div>

					<p class="category">GALLERY</p>
					<div style="background-color:#FFDFC7; overflow-y:scroll; max-height:61%">
						<div v-for="(folder, index) in gallery" class="folder">
							<div class="collapsible" @click="expandFolder(index)">
								<span style="padding:5px; font-size:12px">
									{{folder.folderPath == "" ? "*Home Folder*":folder.folderPath}}
								</span>
								<span style="float:right">
									<img style="height:15px" :src="index == this.galleryPage.folderIndex || index == this.galleryPage.expandedFolderIndex ? './icons/arrow_up.svg' :'./icons/arrow_down.svg'" alt="Arrow Down Icon" />
								</span>
								<span style="float:right; font-size:12px">
									{{(index == this.galleryPage.folderIndex ? this.galleryPage.fileIndex + 1 + "/" :"") + folder.pics.length}} files
								</span>
							</div>

							<div :id="'folder' + index" v-bind:class="{ 'expandFolder' :index == this.galleryPage.folderIndex }" style="max-height:160px; overflow-y:scroll" class="content">
								<div class="row">
									<div v-for="(pic, fileIndex) in folder.pics" :id="'pic' + fileIndex" class="col-xs-6 col-md-6" style="padding:10px 5px">
										<img v-if="imageFormats.includes(pic.fileFormat.toUpperCase())" v-bind:class="{ 'selectedFile' :(index == this.galleryPage.folderIndex && fileIndex == this.galleryPage.fileIndex) }" @click="displayFile(index, fileIndex)" class="col-sm-12 img-responsive pic" v-bind:src="folderPrefix + folderHome + folder.folderPath + pic.fileName + pic.fileFormat" style="padding:0; border-radius:15px; display:inline-block" alt="File">
										<video v-else-if="videoFormats.includes(pic.fileFormat.toUpperCase())" v-bind:class="{ 'selectedFile' :(index == this.galleryPage.folderIndex && fileIndex == this.galleryPage.fileIndex) }" @click="displayFile(index, fileIndex)" class="col-sm-12 img-responsive pic" style="padding:0; border-radius:15px; display:inline-block">
											<source v-bind:src="folderPrefix + folderHome + folder.folderPath + pic.fileName + pic.fileFormat">
										</video>
										<div v-else>
											<img v-bind:class="{ 'selectedFile' :(index == this.galleryPage.folderIndex && fileIndex == this.galleryPage.fileIndex) }" @click="displayFile(index, fileIndex)" class="col-sm-12 img-responsive pic" src="./icons/song_icon.png" style="padding:0; border-radius:15px; display:inline-block" alt="File">
											<p style="font-size:12px; white-space:nowrap; overflow-y:hidden">{{pic.fileName}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div id="snackbar"></div>
		<script src="./view.js"></script>
	</body>
</html>