<!DOCTYPE html lang="en">
   <head>
		<meta charset="UTF-8">
		<title>Gallery Manager</title>
		<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
   </head>
   
   <body>
		<div id="folder-select-page" class="container">
			<div class="row h-100">
				<div class="col-sm-12 my-auto">
					<div class="input-group mb-3" style="padding-left:20%; padding-right:20%">
						<input value="C:\Users\NickSym\Desktop\TestingFolder" id="folder-select-input" type="text" class="form-control" placeholder="Folder's Path" aria-label="Recipient's username" aria-describedby="basic-addon2" autofocus>
						<div id="select-folder-button" class="input-group-append">
							<span class="input-group-text" id="folder-select-button">Select Folder</span>
						</div>
					</div>
				</div>
			</div>
			<input id="folder-select" style="display:none" type="file" webkitdirectory directory multiple/>
		</div>

		<div id="galleryPage">
			<div v-if="pictureName != null" style="display:flex; height:100%">
				<div class="col-sm-10" style="padding:20px">
					<img class="col-sm-12 img-responsive pic" alt="Displayed folder" v-bind:src="folderPrefix + folderHome + folderPath + pictureName + pictureFormat">
				</div>
				<div class="col-sm-2" style="text-align:left; padding:0; background-color:#F5F5F5; border-left:2px solid #000000; overflow-y:scroll">
					<p class="category">ACTIONS</p>
					<div class="clearfix" style="padding:10px 10px 0 10px">
						<div class="input-group">
							<div class="input-group-prepend">
								<span style="font-size:8px; padding:0 5px" class="input-group-text">{{folderHome}}</span>
							</div>
							
							<input v-model="pictureNewPath" :value="pictureNewPath" style="font-size:10px; padding:5px" type="text" class="form-control" placeholder="Folder's Path">
							
							<div class="input-group-append">
								<button :disabled="folderPath == pictureNewPath" @click="movePicture" class="btn" style="font-size:8px; padding:7px 10px">Move</button>
							</div>

							<div class="input-group-append dropdown" @mouseleave="exitFoldersDropdown" @mouseover="enterFoldersDropdown">
								<button class="btn dropbtn" style="font-size:8px; padding:5px">
									<img style="height:8px; cursor:pointer" src="./icons/arrow_down.svg" alt="Arrow Down Icon">
								</button>
								<div class="dropdown-content" v-show="showFoldersDropdown" @mouseleave="exitFoldersDropdown">
									<a v-for="folder in activeFolders" @click="moveToDropdownFolder(folder.folderPath)">{{folder.folderPath == "" ? "*Home Folder*":folder.folderPath}}</a>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix" style="padding:10px 10px 0 10px">
						<button :disabled="lastMovementPath == null || lastMovementPath == folderPath" @click="movePictureToLastPath" class="btn" style="width:100%; font-size:8px; padding:7px 10px">Move to same folder as last movement</button>
					</div>

					<div class="clearfix" style="padding:10px 10px 0 10px">
						<div class="input-group">
							<input id="pictureName" v-model="pictureNewName" :value="pictureNewName" style="font-size:10px; padding:5px" type="text" class="form-control" placeholder="folder's Name">
							
							<div class="input-group-append">
								<span style="font-size:8px; padding:0 5px" class="input-group-text">{{pictureFormat}}</span>
							</div>
							
							<div class="input-group-append">
								<button :disabled="pictureName == pictureNewName" @click="renamePicture" type="button" class="btn" style="font-size:8px; padding:7px 10px">Rename</button>
							</div>
						</div>
					</div>

					<div class="clearfix" style="padding:10px 10px 0 10px">
						<div class="clearfix col-xs-3" style="float:left; padding:0" title="Padding">
							<button :disabled="pictureIndex == 0" @click="previousPicture" type="button" class="btn" style="font-size:8px; padding:7px 10px">
								<img style="height:8px; padding-right:5px" src="./icons/arrow_left.svg" alt="Arrow Left Icon"> Prev folder
							</button>
						</div>

						<div class="clearfix col-xs-3" style="float:right; padding:0" title="Padding">
							<button :disabled="pictureIndex == gallery[folderIndex].pics.length - 1" @click="nextPicture" type="button" class="btn" style="font-size:8px; padding:7px 10px">
								Next folder <img style="height:8px; padding-left:5px" src="./icons/arrow_right.svg" alt="Arrow Right Icon">
							</button>
						</div>
					</div>

					<div class="clearfix" style="padding:10px">
						<button @click="deletePicture" type="button" class="btn" style="text-align:center; width:100%; font-size:8px; padding:7px 10px"><img style="height:15px; padding-right:5px" src="./icons/trash.svg" alt="Trash icon"> Delete folder</button>
					</div>

					<p class="category">GALLERY</p>
					<div style="background-color:#FFDFC7; overflow-y:scroll; max-height:65%">
						<div v-for="(folder, index) in gallery" class="folder">
							<div class="collapsible" @click="expandFolder(index)">
								<span style="padding:5px; font-size:12px">
									{{folder.folderPath == "" ? "*Home Folder*":folder.folderPath}}
								</span>
								<span style="float:right">
									<img style="height:15px" :src="index == this.galleryPage.folderIndex || index == this.galleryPage.expandedFolderIndex ? './icons/arrow_up.svg' :'./icons/arrow_down.svg'" alt="Arrow Down Icon" />
								</span>
								<span style="float:right; font-size:12px">
									{{(index == this.galleryPage.folderIndex ? this.galleryPage.pictureIndex + 1 + "/" :"") + folder.pics.length}} pics
								</span>
							</div>

							<div :id="'folder' + index" v-bind:class="{ 'expandFolder' :index == this.galleryPage.folderIndex }" style="max-height:160px; overflow-y:scroll" class="content">
								<div class="row">
									<div v-for="(pic, pictureIndex) in folder.pics" :id="'pic' + pictureIndex" class="col-xs-6 col-md-6" style="padding:10px 5px">
										<img v-bind:class="{ 'selectedPicture' :(index == this.galleryPage.folderIndex && pictureIndex == this.galleryPage.pictureIndex) }" @click="displayPicture(index, pictureIndex)" class="col-sm-12 img-responsive pic" v-bind:src="folderPrefix + folderHome + folder.folderPath + pic.pictureName + pic.pictureFormat" style="padding:0; border-radius:15px; display:inline-block" alt="Folder's folder">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div id="snackbar"></div>
		<script src="./view.js"></script>
	</body>
</html>