body {
    text-align: center;
}

div[data-placeholder]:not([data-placeholder=""]):empty::before {
    content: attr(data-placeholder);
}

#folder-select-input {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

#folder-select-button {
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    cursor: pointer;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.collapsible {
    padding: 5px;
}

.folder:nth-child(odd) .collapsible {
    background-color: #FFDFC7 !important;
}

.folder:nth-child(even) .collapsible {
    background-color: #FFBA85 !important;
}

/* snackbar */
#snackbar {
    visibility: hidden;
    min-width: 350px;
    max-width: 400px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 40%;
    bottom: 30px;
    border-radius: 25px;
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btn:hover, input:hover {
    background-color: #FFBA85;
}

body, img {
    cursor: default;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectedFile {
    border: 3px solid #FFBA85;
}

.expandFolder {
    display: block !important;
}

button {
    border: 1px solid #C4C4C4 !important;
}

.category {
    font-size: 10px;
    padding: 5px 0 5px 10px;
    background-color:#EBEBEB;
    margin:0;
}

.dropbtn {
    padding: 10px 5px 10px 5px !important;
    color: white;
    font-size: 8px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    right:0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
  
.dropdown-content a {
    color: black;
    font-size: 8px;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #FFBA85;
}

a {
    cursor: pointer;
}

.pic {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}